body {
  font-family: "Open Sans";
  font-size: 49px;
  margin: 0;
  text-align: center;
  }

#hero {
  width: 592px;
  margin: auto;
  text-align: center;
  margin: 0 auto 72px;
   
}

img {
  width: 348px;
  height: 223px;
  
}

h1 {
  font-family: "Inter";
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
  }

span, a {
  color: #ff9900;
}

p, #footer {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
  
  
}

.line {
 width: 568px;
 height: 0;
 border: 1px solid #ECEFF2;
 margin: 0 auto 8px; 
      
}

#footer a + a {


  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  line-height: 28px; /* 200% */
  text-decoration-line: underline;
  margin-left: 28px;
    
}


#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 98px;
  height: 88px;
  padding: 642px -12px -10px 1194px;
  

  
}